@font-face {
  font-family: "toutiao"; /* Project id 3884419 */
  src: url('//at.alicdn.com/t/c/font_3884419_l522oiq8p8b.woff2?t=1675848929491') format('woff2'),
  url('//at.alicdn.com/t/c/font_3884419_l522oiq8p8b.woff?t=1675848929491') format('woff'),
  url('//at.alicdn.com/t/c/font_3884419_l522oiq8p8b.ttf?t=1675848929491') format('truetype');
}

.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toutiao-shouji1:before {
  content: "\e600";
}

.toutiao-kefu:before {
  content: "\ec2e";
}

.toutiao-tubiaozhuanqu-24:before {
  content: "\e644";
}

.toutiao-a-xiaoxitongzhitixing:before {
  content: "\e6b7";
}

.toutiao-shoucang2:before {
  content: "\e61f";
}

.toutiao-lishi:before {
  content: "\e63b";
}

.toutiao-shoucang1:before {
  content: "\e86d";
}

.toutiao-sousuo:before {
  content: "\e86e";
}

.toutiao-wode:before {
  content: "\e8a0";
}

.toutiao-yuedu:before {
  content: "\e67e";
}

.toutiao-shouye:before {
  content: "\e62e";
}

.toutiao-guanbi:before {
  content: "\e64d";
}

.toutiao-dianzan:before {
  content: "\ec7f";
}

.toutiao-dianzan_kuai:before {
  content: "\ec8c";
}

.toutiao-shanchu:before {
  content: "\e8b6";
}

.toutiao-pinglun:before {
  content: "\e602";
}

.toutiao-wuwangluo:before {
  content: "\e604";
}

.toutiao-gengduo:before {
  content: "\e601";
}

.toutiao-yanzhengma:before {
  content: "\e603";
}

.toutiao-zuopin:before {
  content: "\e605";
}

.toutiao-shouji:before {
  content: "\e60d";
}

.toutiao-zuojiantou:before {
  content: "\e610";
}

.toutiao-shipin:before {
  content: "\e607";
}

.toutiao-youjiantou:before {
  content: "\e60b";
}

.toutiao-fenxiang:before {
  content: "\e606";
}

.toutiao-wenda:before {
  content: "\e608";
}
